body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        #container {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            text-align: center;
        }

        #page1 {
            display: block;
        }

        #page2 {
            display: none;
        }

        #page3 {
          display: none;
        }
        
        #page4 {
          display: none;
        }
        
        #page5 {
          display: none;
        }
        
        #page6 {
          display: none;
        }
        
        #page7 {
          display: none;
        }
        
        #page8 {
          display: none;
        }
        
        #page9 {
          display: none;
        }
        
        #image1 {
            width: 45%;
            max-width: 400px;
            margin-bottom: 20px;
        }

        #image2 {
            width: 70%;
            max-width: 400px;
            margin-bottom: 20px;
        }

        .navigation {
            text-align: center;
            margin-top: 20px;
        }

        .navigation img {
            cursor: pointer;
            margin: 0 5px;
            border-radius: 5px;
            transition: transform 0.5s ease;
        }

        .navigation img:hover {
            transform: scale(1.1);
        }
        
        .navigation1 {
            text-align: center;
            margin-top: 5px;
        }

        .navigation1 img {
            cursor: pointer;
            margin: 0 2px;
            border-radius: 2px;
            transition: transform 0.2s ease;
        }

        .navigation1 img:hover {
            transform: scale(1.1);
        }
        
        .button {
            display: inline-block;
            padding: 10px 15px;
            font-size: 16px;
            text-decoration: none;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        .button:hover {
            background-color: #2980b9;
        }